
Install:
- Node.js
- MySQL
- Ollama

Npm packages:
- express
- cors
- sqlite3

Development Dependencies:
- @cucumber/cucumber: (Acceptance testing)
- jasmine (Unit testing framework)
- puppeteer (Browser automation for E2E tests)
- supertest: (HTTP assertion library)

